In [16]:
print("Hello all welcome is the python programming world!")

Hello all welcome is the python programming world!

In [ ]:
#shift + enter button on the keyboard

In [ ]:
Introduction to python programming:

In [ ]:
Understanding the variables in python :

In [18]:
x = 2
y = 3

In [20]:
z =x+y
print (z)

5

In [ ]:
Rules for declaring the varaibles :

In [ ]:
Rule No - 1 : No Namespaces while declaring the variable name

In [22]:
first name = "Faiyaz"

print(first name)

SyntaxError: invalid syntax (4051653174.py, line 1)

In [24]:
firstname = "Faiyaz"

print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A varaible name should not start with a number **

In [26]:
1name = "Madiha"

print(1name)

SyntaxError: invalid decimal literal (445378971.py, line 1)

In [28]:
name1 = "Madiha"

print(name1)

Madiha

In [ ]:
Rule no 3 : A varaible name should not contain anyspecial characters

In [ ]:
@ # $ % ^ & *

In [39]:
name@ = "naveed"

print(name@)

SyntaxError: invalid syntax (2479679356.py, line 1)

In [ ]:
Introdution to Datatypes :

1. Strings       =======> str

2. Numbers       =======> integers (int) floats (decimals) 0,1,0.2,1.5 ====> float

3. List          =======> list

4. Tuple         =======> tuple

5. Dictionaries  =======> dict

In [ ]:
Classification of datatypes :

Broadly datatypes are classified in to two categeories :

1. mutable datatypes     ======> which we can be able to edit / alter     =====> flexible in nature

2. immutable datatypes   ======> which we cannot be able to edit / alter  =====> fixed in nature

In [ ]:
Introduction to string datatype :

 Defination    : A string is nothing but a series of characters daclared in quotes.

Classification : It is classified as an immutable datatype.

how to declare the string dstatype --------> ?

1. Single quote =====> '  '

2. Double quote =====> "  "

In [45]:
name = 'raju'    # single quote

print(name)

raju

In [47]:
name2 = "joseph" # double quote

print(name2)

joseph

In [ ]:
Introduction to string methods :

In [54]:
type(name)

str

In [56]:
type(name2)

str

In [58]:
fullname = 'madiha kowsar'

print(fullname)

madiha kowsar

In [ ]:
#req: i want to correct the format.....?

In [60]:
print(fullname.title())

Madiha Kowsar

In [ ]:
# req : i want the full name in capital letters

In [62]:
print(fullname.upper())

MADIHA KOWSAR

In [ ]:
# req : i want the full name in small case letters

In [64]:
print(fullname.lower())

madiha kowsar