In [ ]:
introduction to list datatype :

In [ ]:
Defination : A list is a collection of items decalred in a particular order.

classification : it is classified as an mutable datatype

How to declare the list datatype ----------> [ ]

In [1]:
students = [ 'salma' ,'keerthi' ,'naveen','mujeeb','sajith','meghana',]  # 0,1,2,3,4,5

In [3]:
print(students)

['salma', 'keerthi', 'naveen', 'mujeeb', 'sajith', 'meghana']

In [ ]:
introduction to indexing : 0,1,2,3,...........n

In [ ]:
# 1.How to access the elements from the list

In [ ]:
# req : i want to access keerthi name in the output.......?

In [5]:
print(students[1])

keerthi

In [7]:
print(students[1].title())

Keerthi

In [ ]:
# req : i want to access Mujeeb name in the output.......?

In [9]:
print(students[3].title())

Mujeeb

In [ ]:
1. how to add new elements in the list      ============ completed.

2. how to modify the elements in the list   ============ completed.

3. how to delete the elements in the list   ============ completed.

In [11]:
print(students)

['salma', 'keerthi', 'naveen', 'mujeeb', 'sajith', 'meghana']

In [ ]:
# req : i want to add sujitha to the above list....

In [17]:
students.append('sujitha')

In [19]:
print(students)

['salma', 'keerthi', 'naveen', 'mujeeb', 'sajith', 'meghana', 'adil', 'sujitha']

In [ ]:
# req : i want to add harshita to the above list....

In [21]:
students.append('harshita')

In [23]:
print(students)

['salma', 'keerthi', 'naveen', 'mujeeb', 'sajith', 'meghana', 'adil', 'sujitha', 'harshita']

In [ ]:
# req : i want to add neha at 2nd index position....

In [25]:
students.insert(2,'neha')

In [27]:
print(students)

['salma', 'keerthi', 'neha', 'naveen', 'mujeeb', 'sajith', 'meghana', 'adil', 'sujitha', 'harshita']

In [ ]:
Interview_question : What is the different between append method and insert method in the list datatype **

In [29]:
print(students)

['salma', 'keerthi', 'neha', 'naveen', 'mujeeb', 'sajith', 'meghana', 'adil', 'sujitha', 'harshita']

In [ ]:
# req : i want to modify keerthi name to kiran....

In [31]:
students[1] = 'kiran'

In [33]:
print(students)

['salma', 'kiran', 'neha', 'naveen', 'mujeeb', 'sajith', 'meghana', 'adil', 'sujitha', 'harshita']

In [ ]:
# req : i want to delete naveen in the above list....?

In [43]:
students[3].delete

AttributeError: 'str' object has no attribute 'delete'

In [39]:
del students[3]

In [41]:
print(students)

['salma', 'kiran', 'neha', 'mujeeb', 'sajith', 'meghana', 'adil', 'sujitha', 'harshita']